#status_bar_container {
    position: fixed;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    background-color: var(--foreground);
    width: 100%;
    grid-column: 1/4;
    flex-direction: row;
    align-content: center;
    align-items: center;
    height: 30px;

    transition: all 0.2s ease-out;
    z-index: 9999;
}

#status_bar_container.full_open {
    align-items: flex-start;
    height: 100vh;
}

#log_container::-webkit-scrollbar {
    width: 8px;
}

#log_container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #17181b;
}

#log_container {
    margin: 0;
    margin-left: 15px;

    width: calc(100% - 30px);
    overflow: hidden;
    white-space: nowrap;
}

#status_bar_container.full_open #log_container {
    width: 100%;
    max-height: 100%;
    margin: 0;
    overflow: auto;
    white-space: normal;
}
#status_bar_container.full_open #log_container p{
    margin: 0;
    padding: 10px;
    padding-right: 45px;
    padding-left: 15px;
    /* word-break: break-all; */
}

#status_bar_container.full_open #log_container p:nth-of-type(2n) {
    background-color: var(--background-dark);
}

#status_bar_container.full_open button {
    background: none;
}

#warning_icon{
    z-index: 9;
    margin-right: 50px;
    padding-left: 5px;
}

#status_bar_container button {
    position: absolute;
    right: 0;
    margin: 0;
    margin-left: auto;
    height: 30px;
    width: auto;
    line-height: 0;
    background: var(--foreground);
    padding: 0;
    padding-right: 15px;
    padding-left: 15px;
}

.error {
    color: red;
}