#image_container {
  display: inline-flex;
  box-sizing: border-box;
  width: 35vw;
  height: 100vh;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  line-height: 100%;
}

#preview {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px;
}