#image_container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 10px;

  align-items: center;
  text-align: center;
}

#preview {
  overflow: auto;
  
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px;
}

#image_container p {
  box-sizing: border-box;

  margin: 0;
  margin-top: 10px;

  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--foreground);
}