#features_container > button{
    width: 90%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    margin-bottom: 10px;
}

#features_container > button:hover{
    width: 90%;
    background: var(--button-color-hover);
}