#toolbar_container {
  display: inline-block;
  box-sizing: border-box;
  background-color: var(--background-dark);
  vertical-align: top;
}

#version_label{
  position: absolute;
  right: 5px;
  bottom: 15px;
  color: gray;
}

.toolbar_button {
  display: block;
  margin: auto;
  width: 80%;
}

.react-tabs__tab-list {
  margin: 0 auto 10px;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.react-tabs__tab {
  background: var(--foreground);
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.react-tabs__tab:hover {
  background: var(--background);
}

.react-tabs__tab:focus-visible {
  outline: none;
}

.react-tabs__tab--selected {
  border: 0px;
  border-bottom: 2px solid white;
}

.react-tabs__tab-panel--selected {
  display: block;
  text-align: center;
}