#chunk_container {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40vw;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#chunk_container::-webkit-scrollbar
{
	width: 8px;
}

#chunk_container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #202225;
}

#add_chunk_button {
    font-size: x-large;
    border: 1px solid black;
    width: 90%;
}