#chunk_container {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 40vw;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#add_chunk_button {
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: x-large;
    border: 1px solid black;
    width: 90%;
}