#chunk_container {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

#drag_container {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
}

#add_chunk_button {
    font-size: x-large;
    border: 1px solid black;
    width: 90%;
}