#container {
  margin: 0;
  padding: 0;
}

#image_container {
  display: inline-flex;
  box-sizing: border-box;
  width: 40vw;
  height: 100vh;
  border-right: 1px solid black;
  border-radius: 5px;
  line-height: 100%;
}

#preview {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

#chunk_container {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 40vw;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#toolbar_container {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 20vw;
  height: 100vh;
  border-left: 1px solid black;
}

#add_chunk_button {
  display: block;
  margin: auto;
  margin-top: 20px;
  font-size: x-large;
  border: 1px solid black;
  width: 90%;
}

#drop_zone {
  border: 5px solid blue;
  width: 200px;
  height: 100px;
}

.delete_chunk_button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.button {
  background-color: #232427;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.button:hover {
  background-color: #1e1f22;
}

.button:active {
  background-color: #232427;
}

.editable_textarea {
  max-width: 100%;
  min-width: 100%;
  resize: none;
}

.toolbar_button {
  display: block;
  margin: auto;
  width: 80%;
}

.chunk {
  display: block;
  margin: auto;
  width: 90%;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 8px;
}

.chunk>* {
  padding-left: 10px;
  padding-right: 10px;
  word-wrap: break-word;
}

.chunk_header {
  position: relative;
  display: block;
  height: 100%;
  padding: 25px 10px;
  background-color: #1e1f22;
  border-radius: 8px 8px 0 0;
}

.chunk_name {
  box-sizing: border-box;
  display: inline-block;
  width: 80%;
}

.chunk_text {
  min-height: 30px;
}