.delete_chunk_button {
  display: block;
  width: 40px;
  padding: 5px;
  background-color: transparent;
  color: red;
  /* align-items: center;
  flex-direction: column;
  justify-content: center; */
}

.editable_textarea {
  max-width: 100%;
  min-width: 100%;
  resize: none;
}

.chunk {
  display: block;
  margin: auto;
  width: 90%;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 8px;
}

.chunk>* {
  padding-left: 10px;
  padding-right: 10px;
  word-wrap: break-word;
}

.chunk_header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 25px 10px;
  background-color: #1e1f22;
  border-radius: 8px 8px 0 0;
}

.chunk_name {
  box-sizing: border-box;
  display: inline-block;
  width: 80%;
}

.chunk_text {
  min-height: 30px;
}